<div class="container">
  <h1>Cocktail Fever</h1>

  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <h2 class="m-auto"><%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></h2>
    <% end %>
  </div>

  <div class="btn btn-danger">
    <%= link_to "Create a new cocktail", new_cocktail_path %>
  </div>
</div>

